<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/libs/modernizr.min.js}"></script>
</head>
<body>
<div th:include="commMenu::top" class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="../index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="../index.html">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="http://www.mycodes.net">管理员</a></li>
                <li><a href="http://www.mycodes.net">修改密码</a></li>
                <li><a href="http://www.mycodes.net">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div th:include="commMenu::left" class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
             <ul class="sidebar-list">
			
                <li><a href="#"><i class="icon-font">鲜花数据操作</i></a>
                    <ul class="sub-menu">
                          <li><a href="list.html"><i class="icon-font"></i>鲜花类型管理</a></li>
                        <li><a href="flower_list.html"><i class="icon-font"></i>鲜花管理</a></li>
                     </ul>
                </li>
				
				 <li><a href="#"><i class="icon-font">用户数据操作</i></a>
                    <ul class="sub-menu">
					    <li><a href="users_list.html"><i class="icon-font"></i>用户管理</a></li>
                        <li><a href="orders_list.html"><i class="icon-font"></i>订单管理</a></li>
                    </ul>
                </li>
				
                 <li><a href="#"><i class="icon-font">我的信息</i></a>
                    <ul class="sub-menu">
					    <li><a href="admin_infor.html"><i class="icon-font">please!登录</i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="../index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">鲜花类型管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="/admin/goods/add"><i class="icon-font"></i>新增物品</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>商品图片</th>
                            <th>商品价格</th>
                            <th>商品描述</th>
                            <th>库存量</th>
                            <th>销售数量</th>
                            <th>折扣</th>
                            <th>状态</th>
                            <th>商品类型编号</th>
                            <th>操作</th>
                        </tr>
                        <tr th:each="ct:${lis}">
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
							<td th:text="${ct.id}">1</td>
                            <td th:text="${ct.name}">三星</td>
                            <td th:text="${ct.pic}">dkkjgnnkdklgkm</td>
                            <td th:text="${ct.price}"></td>
                            <td th:text="${ct.descri}"></td>
                            <td th:text="${ct.icount}"></td>
                            <td th:text="${ct.ocount}"></td>
                            <td th:text="${ct.discount}"></td>
                            <td th:text="${ct.status}"></td>
                            <td th:text="${ct.category.id}"></td>
                            <td>
                                <a class="link-update" th:href="@{'/admin/goods/update?id='+${ct.id}}">修改</a>
                                <a class="link-del" th:href="@{'/admin/goods/remove?id='+${ct.id}}">删除</a>
                            </td>
                        </tr>
                    </table>
                    <div class="list-page">1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>